* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item {
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}

/*
flex-basis: auto; é o default.
flex-basis: 20%; ocupa 20% do container.
flex-basis: 300px; tamanho máximo, se diminuir a tele ele encolhe.
*/
.i2 {
    height: 200px;
    /* flex-basis: 20%; */
    flex-basis: 300px;
}

.i3 {
    order: 1;
    /* o item vai pegar todo espaço que sobrar para ele.
    .container sem flex definido e o item com flex definido
     */
    flex: 1;
}

.i4 {
    align-self: flex-end;
    order: -1;
}