<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    /*
    Abra o inspetor de elementos e mude o tamanho da fonte do html, repare
    que somento o que está em rem é alterado jundo.
    Usar px no html, e rem nos demais elementos, aí é só aumentar a fonte do html que
    aumenta do site todo.

    obs: dê preferência para porcentagem, olhar outro template.
    */
    html {
      font-size: 10px;
    }

    .p1 {
      font-size: 16px;
    }

    .p2 {
      font-size: 1.6rem;
    }
  </style>
</head>

<body>
  <p class="p1">font 16px, padrão do navegador</p>
  <p class="p2">font 1.6rem, equivale a 16px quando a fonte do html for 10px</p>

</body>

</html>